/*-----Common settings-----*/

/* Got from https://fonts.google.com/specimen/Poppins?selection.family=Poppins*/
@font-face {
    font-family: "Poppins";
    src: url("3rdparty/Poppins-Regular.ttf") format("truetype");
}
body {
	font-family: "Poppins", sans-serif;
}
* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	display: flex;
}
a {
	text-decoration: none;
}



/*-----Header start-----*/

header {
	background: #f6f6f6;
	padding: 22px 0;
}
.header-container {
	width: 90%;
	min-width: 900px;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-container a {
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	padding: 27px 6px;
}
.header-container a:hover {
	background: #ffea00
}
#menu-checkbox {
	display: none;
}
.main-menu {
	display: flex;
}
.main-menu li + li {
	margin-left: 63px;
}

@media screen and (min-width: 421px) and (max-width: 900px) {
	/*
	.main-menu a {
		color: red;
	}
	*/
	.header-container {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	.header-container nav {
		width: 100%;
		margin-left: 30px;
	}
	.main-menu {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.main-menu li + li {
		margin-left: 0;
	}	
}

@media screen and (max-width: 420px) {
	/*
	.main-menu a {
		color: blue;
	}
	*/	
	.header-container {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		justify-content: space-around;
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu li + li {
		margin-left: 0;
	}	
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toogle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-right: 80px;
	}
	.toogle-button:after {
		/*content: attr(data-open);*/
		content: "";
		background: url("img/menu.svg") no-repeat;
		background-size: contain;
		width: 20px;
    	height: 20px;
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}
	/*
	#menu-checkbox:checked + nav[role="navigation"] .toogle-button:after {
		display: block;
		/*content: attr(data-close);*/
	}
	*/
	.header-container a {
		/*margin-right: -65px;*/
	}
	.main-menu {
		position: relative;
		height: 0;
		top:30px;
		right: 10px;
	}
}