/joker2015-3/lib
/joker2015-3/.idea
/springboot/.idea
/.idea
/gwtExamples/backend/backend.iml
/gwtExamples/frontend/gwt-unitCache
/gwtExamples/backend/target
/gwtExamples/frontend/*.iml
/gwtExamples/frontend/target
/gwtExamples/web-xml/target
/gwtExamples/*.iml
/gwtExamples/web-xml/*.iml
/springboot/untitled/*.iml
/gwtExamples/frontend/war/Application
/gwtExamples/frontend/war/WEB-INF/deploy/Application/rpcPolicyManifest
/gwtExamples/frontend/war/WEB-INF/deploy/Application/symbolMaps
/typescript/.idea
/typescript/src/index.js
/typescript/src/index.js.map
/typescript/*.iml
/springbootreact/node_modules
/springbootreact/backstop_data/bitmaps_test
/springbootreact/backstop_data/html_report
/babel/.idea
/webpack-starter/dist
/webpack-starter/node_modules
/webpack-starter/npm-debug.log
/webpack-starter/.idea
